<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Dashboard</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
    <!-- Artigos Recentes -->
    <div class="bg-white border borcer-2 border-gray-300 shadow-md rounded-lg px-8 py-6 pb-8">
      <h2 class="text-xl font-bold mb-4">Artigos Recentes</h2>
      <% if @recent_articles.any? %>
        <ul class="divide-y divide-gray-200">
          <% @recent_articles.each do |article| %>
            <li class="py-3">
              <%= link_to article.title, 
                  account_article_path(article), 
                  class: "text-indigo-600 hover:text-indigo-900" %>
            </li>
          <% end %>
        </ul>
        <div class="mt-4">
          <%= link_to "Ver todos", 
              account_team_articles_path(current_team), 
              class: "text-indigo-600 hover:text-indigo-900" %>
        </div>
      <% else %>
        <p class="text-gray-500">Não há artigos recentes.</p>
      <% end %>
    </div>
  </div>
</div> 